.header {
    background-color: #0f0737;
}
p,span,a {
    font-family: 'Montserrat', sans-serif;
}
.input-group {
    font-family: 'Montserrat', sans-serif;
}
.logo {
    max-height: 200px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
    padding: 0;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li {
    list-style: none;
}

.cart {
    width: 50px;
    height: 50px;
}

.items {
    background: none repeat scroll 0 0;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: auto;
}

.list-item {
    position: relative;
    background: none repeat scroll 0 0;
    flex: 1 1 18%;
    height: auto;
    margin: 4px;
    padding: 20px 0;
    width: auto;
}

.row {
    align-items: baseline;
}

.list-item {
    position: relative;
    background: none repeat scroll 0 0;
    flex: 1 1 18%;
    height: auto;
    margin: 4px;
    padding: 20px 0;
    width: auto;
}

.fixed-bottom {
    margin-left: 95%;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    .items {
        display: block;
        
    }
    .item-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .list-item {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 1400px) {
    .items {
        max-width: 1075px !important;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#carList {
    margin: 0 auto;
}

.disabled-button {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

input {
    width: 40px;
}






